*{
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 50px;
    padding: 1rem;
}

.form {
    background-color: #fff;
    display: block;
    padding: 2rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}
  
.input-container {
    position: relative;
}
  
.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}
  
.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
  
.submit {
    padding: 1rem;
    background-color: purple;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover {
    opacity: .4;
    transition: .3s;
}

.crosswords{
    background-color: #fff;
    display: block;
    padding: 2rem;
    width: 550px;
    height: 900px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.table {
    border-spacing: 0;
    border-collapse: unset;
}

.nulo{
    opacity: 0;
}

.blocoResposta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    /* background-color: whitesmoke; */
    border: 2px solid purple;
    border-radius: 3px;
    box-shadow: 2px 2px 3px;
    font-size: 0;
}

.letra{
    font-size: 24px;
    color: black;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: 0.8s;
    opacity: 0;
}

.numero{
    font-size: 24px;
    color: black;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: 0.8s;
    opacity: .5;
}